*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
}

header div{
    padding: 10px 0px 10px 10px;
}

header img{
    vertical-align: bottom;
}

header h1{
    display: inline-block;
}